<div class="container">
  <h1>Gerenciador de Transações</h1>
  <section>
      <div class="button-action">
        <button mat-fab extended (click)="openDialog()">
          Adicionar Transação <mat-icon>add</mat-icon> 
        </button>
      </div>
      <br />
      <div class="row">
        <app-transacao-list></app-transacao-list>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <!-- Seção Direitos Autorais -->
          <div class="footer-bottom">
            &copy; 2024 Hayghlander Marques. Todos os direitos reservados.
          </div>
        </div>
      </div>
    </footer>
      
</div>