.text {
    color: #ffff;
}

.card {
    text-align: center;
    padding: 10px;
}

.card-title {
    color: white;
    margin-bottom: 20px;
}

.btn-action {
    padding: 10px;
    margin-right: 10px;
    width: 100px;
    font-weight: bold;
}